<a href="https://colab.research.google.com/github/madhav7034/colab/blob/main/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 Area of circle

x = int(input("Enter the radius: "))
y = (3.14) * (x ** 2)
print(f"Area of the circle is {y}")

Enter the radius: 3
Area of the circle is 28.26

In [ ]:
#2 Personal details

x = input("Enter your name: ")
y = input("Enter roll number: ")
z = int(input("Enter Marks: "))

print(f'Name: {x}')
print(f'Roll Number: {y}')
print(f'Marks: {z}')

Enter your name: Anisha
Enter roll number: 21
Enter Marks: 78
Name: Anisha
Roll Number: 21
Marks: 78

In [ ]:
#3 Largest Number

x = input("Enter the numbers: ").split(',')
y = [int(num) for num in x]
print(f'The maximum number is {max(y)}.')

Enter the numbers: 12,3,47,10
The maximum number is 47.

In [ ]:
#4 Iterate from start number to end number

p = 0
for c in range(1, 10 + 1):
    total = c + p
    print(f"Current Number {c} Previous Number {p} Sum: {total}")
    p = c

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

In [ ]:
#5 Divisible by 5

x= input("Enter Numbers : ").split(',')
x = [int(i) for i in x]
for num in x :
  if num % 5 == 0 :
      print(num)

Enter Numbers : 10, 20,33,46,55
10
20
55

In [ ]:
#6 prime number

num = int(input("Enter the number: "))
if num <= 1:
    print(f"{num} is not a prime number.")
else:
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            print(f"{num} is not a prime number.")
            break
    else:
        print(f"{num} is a prime number.")

Enter the number: 12
12 is not a prime number.

In [ ]:
#7 Reverse list

x = [10,40,30,70]
y = []
for i in range(len(x)-1 , -1, -1):
  y.append(x[i])

print(y)

[70, 30, 40, 10]

In [ ]:
#8 Print pattern

for i in range(1, 5):
    print('*' * i)

*
**
***
****

In [ ]:
#9 Max of 3 numbers

num = input("Enter the numbers: ")
a, b, c = [int(x) for x in num.split(',')]
print("Maximum number is:", max(a, b, c))

Enter the numbers: 12,14,90
Maximum number is: 90

In [ ]:
#10 Pattern

for i in range(1,6):
  print('*' * i)

for i in range(4, 0, -1):
  print('*' * i)

*
**
***
****
*****
****
***
**
*

In [ ]:
#11 Positive, Negative or Zero

num = float(input("Enter a number: "))
if num > 0:
    print("The number is positive")
elif num < 0:
    print("The number is negative")
else:
    print("The number is zero")

Enter a number: -12
The number is negative

In [ ]:
#12 Odd or Even

num =  int(input("Enter a number: "))
if num % 2 ==0:
  print (f"The {num} is even")
else:
  print(f"The {num} is odd")

Enter a number: 23
The 23 is odd

In [ ]:
#13 Grade
marks = int(input("Enter the marks ): "))
if 90 <= marks <= 100:
    print("Grade: A")
elif 80 <= marks <= 89:
    print("Grade: B")
elif 70 <= marks <= 79:
    print("Grade: C")
elif 60 <= marks <= 69:
    print("Grade: D")
elif 0 <= marks < 60:
    print("Grade: Fail")

Enter the marks ): 23
Grade: Fail

In [ ]:
#14 Leap Year

i = int (input("Enter the year: "))
if i % 4 == 0 :
  print("Leap year")
else :
    print("Not a leap year")

Enter the year: 2000
Leap year

In [ ]:
#15 Numbers from 1 to N

n = int(input("Enter a number: "))
for i in range(1, n + 1):
    print(i)

Enter a number: 3
1
2
3

In [ ]:
#16 Sum of first N natural numbers

n = int(input("Enter a number: "))
total = 0
for i in range(1, n + 1):
    total += i
print("Sum:", total)

Enter a number: 3
Sum: 6

In [ ]:
#17 Multiplication table

num = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
#18 Factorial

num = int(input("Enter a number: "))
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print(f"Factorial of {num} is {factorial}")

Enter a number: 5
Factorial of 5 is 120

In [ ]:
#19 Reverse number

num = int(input("Enter a number: "))
rev = 0
temp = num
while temp > 0:
    rev = rev * 10 + temp % 10
    temp //= 10
print(f"Reversed number: {rev}")

Enter a number: 412
Reversed number: 214

In [ ]:
#20 Count digits

num = input("Enter a number: ")
count = 0
for ch in num:
    if ch.isdigit():
        count += 1
print(f"Number of digits: {count}")

Enter a number: 1313
Number of digits: 4

In [ ]:
#21 Right ang triangle

N = int(input("Enter N: "))
for i in range(1, N + 1):
    print('*' * i)

Enter N: 6
*
**
***
****
*****
******

In [ ]:
#22 Number pyramid

x = int(input('Enter a number: '))
for i in range(1, x + 1):
  print(' ' * (x - i), end='')

  for j in range(1,i+1):
    print(j,end = '')

  for k in range(i - 1, 0, -1):
    print(k, end = '')

  print()

Enter a number: 7
      1
     121
    12321
   1234321
  123454321
 12345654321
1234567654321

In [ ]:
#23 First 5 odd numbers

counter = 0
for i in range(100):
  if i % 2 == 1:
    print(i)
    counter += 1

  if counter == 5:
    break

1
3
5
7
9

In [ ]:
#24 Skip multiples of 3
for i in range(1, 21):
  if i % 3 == 0:
    continue
  else:
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20

In [ ]:
#25 Pass statement example

for i in range(1, 6):
    if i == 3:
        pass
    print(i)

1
2
3
4
5

In [ ]:
#26 Fibonacci Series

n = int(input('Enter a positive number : '))
previous_1 = 1
previous_2 = 0
fibonacci_list = [previous_2]
for i in range (n - 1):
  current = previous_1 + previous_2
  fibonacci_list.append(current)
  previous_1 = previous_2
  previous_2 = current

for i in fibonacci_list:
  print(i, end = ' ')

In [ ]:
#27 Sum of digits

number = input('Enter a number: ')
digits = [int(i) for i in number]
sum_of_digits = sum(digits)
print(f'Sum of digits is {sum_of_digits}')

Enter a number: 122
Sum of digits is 5

In [ ]:
#28 Armstrong Number

num = int(input("Enter a number: "))
sum_of_cubes = 0
temp = num
while temp > 0:
    digit = temp % 10
    sum_of_cubes += digit ** 3
    temp //= 10
if sum_of_cubes == num:
    print("Armstrong number")
else:
    print("Not an Armstrong number")

Enter a number: 153
Armstrong number

In [ ]:
#29 Reverse string

word = input('Enter your string: ')
reversed_word = ''.join([i for i in word[-1::-1]])
print(f'Reverse string: {reversed_word}')

Enter your string: hello
Reverse string: olleh

In [ ]:
#30 Welcome

name = input("Enter your name: ")
print(f"Welcome, {name}!")

Enter your name: farhan
Welcome, farhan!

In [ ]:
#31 Snacks

favorite_snack = "Chips"
print(f"I love munching on {favorite_snack} during meetings!")

I love munching on Chips during meetings!

In [ ]:
#32 Team productivity

tasks_this_week = 15
tasks_next_week = tasks_this_week * 2
print(f"Expected tasks next week: {tasks_next_week}")

Expected tasks next week: 30

In [ ]:
#33 Monthy budget

income = 20000
expenses = 4000
savings = income - expenses
print(f"Your Monthly savings: {savings}")

Your Monthly savings: 16000

In [ ]:
#34 Movie night

friends = 10
popcorn_per_friend = 5
total_popcorn = friends * popcorn_per_friend
print(f"Total popcorn bags needed: {total_popcorn}")

Total popcorn bags needed: 50

In [ ]:
#35 Product review

rating = int(input("Enter the product rating (1-5): "))
if rating > 3:
  print('Item is good')
elif rating == 3:
  print('Item is average')
else:
  print('Item is below average')

Enter the product rating (1-5): 5
Item is good

In [ ]:
#36 Avg sales

sales1 = 50
sales2 = 75
sales3 = 100
average = (sales1 + sales2 + sales3) / 3
print(f"Average sales: {average}")

Average sales: 75.0

In [ ]:
#37 Simple Inv Return

principal = 500
rate = 4
time = 3
interest = (principal * rate * time) / 100
total = principal + interest
print(f"Total amount after 3 years: {total}")

Total amount after 3 years: 560.0

In [ ]:
#38 Party planning

guests = 10
slices_per_cake = 8
x = (guests + slices_per_cake - 1) // slices_per_cake
print(f"Cakes needed: {x}")

Cakes needed: 2

In [ ]:
#39 Text Analysis

text = input("Enter text: ")
if len(text) > 10:
  print('Message is too long')
else:
  print('Message is too short')

Enter text: just do it
Message is too short

In [ ]:
#40 Best selling product

product_A_sales = 250
product_B_sales = 300
if product_A_sales > product_B_sales:
    print("Product A sold more.")
else:
    print("Product B sold more.")

Product B sold more.

In [ ]:
#41 Scholarship

received = 750
total = 1000
percentage = (received / total) * 100
print(f"Congratulations! You got {percentage}% scholarship.")

Congratulations! You got 75.0% scholarship.

In [ ]:
#42 variable

favorite_color = "Blue"
print(favorite_color)

Blue

In [ ]:
#43 Arithmetic
a = 10
b = 20
print("Sum:", a + b)

Sum: 30

In [ ]:
#44 Area rectangle

length = 12
width = 6
area = length * width
print(f"Area of the rectangle is {area}")

Area of the rectangle is 72

In [ ]:
#45 Odd or even

num = 15
if num % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Odd number

In [ ]:
#46 Average

a, b, c = 10, 20, 30
average = (a + b + c) / 3
print(f"Average: {average}")

Average: 20.0

In [ ]:
#47 Area of circle

radius = 7
pi = 3.14
area = pi * (radius ** 2)
print(area)

153.86

In [ ]:
#48 Check string length

x = 'Python'
leng = len(x)
if leng > 6:
  print('String has more than six characters')
elif leng == 6:
  print('String has six characters')
else:
  print('String has less than six characters')

String has six characters

In [ ]:
#49 Max of two numbers

x = 15
y = 25
max = max(x, y)
print(f"The maximum is {max}")

The maximum is 25

In [ ]:
#50 Calculate percentage

x = 500
y = 400
percentage = (y / x) * 100
print(f"Percentage: {percentage}%")

Percentage: 80.0%